{% include 'theme-temp/header.html' %}

<section class="dashboard-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'template-parts/dash-nav.html' %}
            </div>
            <div class="col-md-9">
                <div class="dashboard-wrapper">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <form action="/dashboard-addcat" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="categorytitle" id="categorytitle" placeholder="Title" required>
                        <label>
                            Featured image: 
                            <input type="file" style="visibility: hidden;" name="featuredimage" id="featuredimage">
                            <img src="" id="fimg" alt="img">
                        </label>
                        <textarea id="categorycontent" name="categorycontent" placeholder="Content"></textarea>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'theme-temp/footer.html' %}