{% include 'header.html' %}
{% load static %}
<section class="add-blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'dash-nav.html' %}
            </div>
            <div class="col-md-9">
                <div class="tilte">
                    <h1>Add blog</h1>
                </div>
                <div class="add-blog-form-wrap">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    <form action="/add-blog" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="blogtitle" id="blogtitle" placeholder="Title" required>
                        <input type="file" name="featuredimage" id="featuredimage" required>
                        <div class="mb-3">
                            <label for="category" class="form-label">Choose Category</label>
                            <select name="category" class="form-control" required>
                                <option value="choose">Choose</option>
                                {% for category in categories %}
                                <option value="{{ category.name }}">
                                    {{ category.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <textarea id="content" name="content" placeholder="Content" required></textarea>
                        <input type="submit" value="Publish">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}