{% include 'header.html' %}
<section class="inner-about-sections section-gaps">
    <div class="container ">
        <div class="blog-content">
            <div class="secondary-title">
                <h3 class="title text-uppercase">
                    {{blogsingle.title}}
                </h3>
            </div>
            <div class="content ">
                <ul class="blog-info list-none d-flex justify-content-between">
                    <li>
                        <ul class="list-none d-flex gap-custom">
                            <li>
                                <span>
                                <i class="icon-date pe-1"></i>
                                    {{blogsingle.publishdate|date:"M d, Y"}}
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-author pe-1"></i>
                                    Aspiration Asia
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="share-social-links list-none d-flex gap-3">
                            <li class="d-flex align-items-baseline">
                                <i class="fas fa-share-alt pe-2"></i>
                                <p>Share :</p>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="image">
                    <img src="{{ blogsingle.featuredimage.url }}" alt="">
                </div>
                <div class="text">
                    {{blogsingle.content|safe}}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- {{ otherblog }} -->

<section class="top-teak-section section-gaps light-white-bg">
    <div class="container">
        <div class="secondary-title mb-5">
            <h3 class="title">
                Similar Blogs
            </h3>
        </div>
        <div class="trek-list-box">
            <div class="row trek-gap">
                <div class="col-md-4">
                    <div class="item">
                        <div class="img-holder">
                            <a href="#" title="" class="h-100 d-block">
                                <img src="images/place2.png" alt="" class="img-cover">

                            </a>
                        </div>
                        <div class="content">
                            <ul class="trek-info list-none">
                                <li>
                                    <span>
                                        <i class="icon-date pe-1"></i>
                                        25 May, 2023
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class="icon-author pe-1"></i>
                                        Aspiration Asia
                                    </span>
                                </li>
                            </ul>
                            <div class="text">
                                <h3 class="title mb-2">
                                    Mount Everest Nepal
                                </h3>
                                <p>
                                    Amongst some of the most sought after, unique and popular treks of the world,...
                                </p>
                                <div class="btn-wrap">
                                    <a href="#" title="" class="border-btn med dark">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img-holder">
                            <a href="#" title="" class="h-100 d-block">
                                <img src="images/place2.png" alt="" class="img-cover">

                            </a>
                        </div>
                        <div class="content">
                            <ul class="trek-info list-none">
                                <li>
                                    <span>
                                        <i class="icon-date pe-1"></i>
                                        25 May, 2023
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class="icon-author pe-1"></i>
                                        Aspiration Asia
                                    </span>
                                </li>
                            </ul>
                            <div class="text">
                                <h3 class="title mb-2">
                                    Mount Everest Nepal
                                </h3>
                                <p>
                                    Amongst some of the most sought after, unique and popular treks of the world,...
                                </p>
                                <div class="btn-wrap">
                                    <a href="#" title="" class="border-btn med dark">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="img-holder">
                            <a href="#" title="" class="h-100 d-block">
                                <img src="images/place2.png" alt="" class="img-cover">

                            </a>
                        </div>
                        <div class="content">
                            <ul class="trek-info list-none">
                                <li>
                                    <span>
                                        <i class="icon-date pe-1"></i>
                                        25 May, 2023
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class="icon-author pe-1"></i>
                                        Aspiration Asia
                                    </span>
                                </li>
                            </ul>
                            <div class="text">
                                <h3 class="title mb-2">
                                    Mount Everest Nepal
                                </h3>
                                <p>
                                    Amongst some of the most sought after, unique and popular treks of the world,...
                                </p>
                                <div class="btn-wrap">
                                    <a href="#" title="" class="border-btn med dark">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

            
            </div>
        </div>
    </div>
</section>

<section class="above-footer">
    <div class="image">
        <img src="images/footer-logo.png" alt="">
    </div>
</section>
{% include 'footer.html' %}