{% include 'header.html' %}
    <section class="blog-listing">
        <div class="container">
            <div class="row">
                {% for x in blogs %}
                <div class="col-md-3">
                    <div class ="sn_number">{{ forloop.counter }}</div>
                    <div class="title">
                        <h3>{{x.title}}</h3>
                    </div>
                    <div class="published-date">
                        <span>{{x.publishdate}}</span>
                    </div>
                </div>
                {% empty %}
                <p>No members</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% include 'footer.html' %}