{% include 'theme-temp/header.html' %}
{% load static %}
<section class="dashboard-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'template-parts/dash-nav.html' %}
            </div>
            <div class="col-md-9">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                <div class="add-blog-btn">
                    <a href="/add-blog">Add blog</a>
                </div>
                <div class="dashboard-wrapper">
                    <table>
                        <thead>
                            <th>S.N</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            {% for x in blogs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="/edit-blog/{{x.id}}">{{ x.title }}</a>
                                </td>
                                <td>{{x.category}}</td>
                                <td>{{x.authorid}}</td>
                                <td><a href="/delete-blog/{{x.id}}">Delete</a></td>
                            </tr>
                            {% empty %}
                                <tr><td colspan="5">Sorry, you don't have a blog</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'theme-temp/footer.html' %}