{% include 'header.html' %}
{% load static %}
<section class="dashboard-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'dash-nav.html' %}
            </div>
            <div class="col-md-9">
                <div class="add-blog-btn">
                    <a href="/addblog">Add blog</a>
                </div>
                <div class="dashboard-wrapper">
                    {% for x in blogs %}
                        {{ x.title }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}