{% include 'theme-temp/header.html' %}
{% load static %}

<section class="category-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'template-parts/dash-nav.html' %}
            </div>
            <div class="col-md-9">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                <div class="category-wrapper">
                    <ul>
                        {% for cat in categories %}
                            <li>{{cat}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'theme-temp/footer.html' %}