{% include 'theme-temp/header.html' %}

<section class="dashboard-cover">
        <div class="row">
            <div class="col-md-3 pt-5 pb-5" style="background: #615e5e; color:#fff;">
                {% include 'template-parts/dash-nav.html' %}
            </div>
            <div class="col-md-9 pt-5 pb-5">
                <div class="dashboard-wrapper light-white-bg">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <p>This is dashboard</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'theme-temp/footer.html' %}