{% include 'header.html' %}
{% load static %}
<section class="edit-blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'dash-nav.html' %}
            </div>
            <div class="col-md-9">
                <div class="tilte">
                    <h1>Edit blog</h1>
                </div>
                <div class="edit-blog-form-wrap">
                    <p>This is edit blog </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}