{% include 'header.html' %}
{% load static %}
<section class="edit-blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'dash-nav.html' %}
            </div>
            <div class="col-md-9">
                <div class="tilte">
                    <h1>Edit blog</h1>
                </div>
                <div class="edit-blog-form-wrap">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                    <form action="/edit-blog/{{blog.id}}" method="post" enctype="multipart/form-data" runat="server">
                        {% csrf_token %}
                        <input type="text" name="blogtitle" id="blogtitle" value="{{blog.title}}" required>
                        <label>
                            <input type="file" style="visibility: hidden;" name="featuredimage" id="featuredimage" value="{{blog.featuredimage}}" required>
                            <img src="{{blog.featuredimage.url}}" id="fimg">
                        </label>
                        <div class="mb-3">
                            <label for="category" class="form-label">Choose Category</label>
                            <select name="category" class="form-control" required>
                                <option value="choose">Choose</option>
                                {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <textarea id="content" name="content" required>{{blog.content}} </textarea>
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    featuredimage.onchange = evt => {
        const [file] = featuredimage.files
        if (file) {
            fimg.src = URL.createObjectURL(file)
        }
    }
</script>
{% include 'footer.html' %}