{% include 'theme-temp/header-blank.html' %} 
{% load static %}
<section class="login-form">
    <div class="container">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="login-form-wrapper">
            <form action="/login" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Username" id="username" name="username">
                <input type="password" placeholder="Password" id="password" name="password">
                <input type="submit" value="submit">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </form>
        </div>
    </div>
</section>
{% include 'theme-temp/footer-blank.html' %}