{% load static %}
<footer class="site-footer text-white">
    <div class="top-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="item">
                        <div class="footer-logo">
                            <a href="{% url 'home' %}" title="">
                                <img src="{% static 'images/logo.png' %}" alt="">
                            </a>
                        </div>
                        <div class="about-content pe-5">
                            <p>
                                <span class="company-name">Aspiration Asia trekking & Expedition Pvt Ltd </span>has been established by its clientele as a
                                premium brand company that offers a comprehensive range of tours and treks.
                            </p>
                        </div>
                        <ul class="footer-social-links">
                            <li>
                                <p>Follow Us:</p>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <h2 class="footer-title">
                            FAQ
                        </h2>
                        <div class="footer-menu-lists">
                            <ul>
                                <li>
                                    <a href="#" title="">Pay Now</a>
                                </li>
                                <li>
                                    <a href="#" title="">General Information</a>
                                </li>
                                <li>
                                    <a href="#" title="">Trek Planning Checklist</a>
                                </li>
                                <li>
                                    <a href="#" title="">Travel and Rescue Insurance</a>
                                </li>
                                <li>
                                    <a href="#" title="">Visas & Permits</a>
                                </li>
                                <li>
                                    <a href="#" title="">Clothing & Equipment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-title">
                        Destinations
                    </h2>
                    <div class="footer-menu-lists">
                        <ul>
                            <li>
                                <a href="#" title="">Nepal Honeymoon Tour</a>
                            </li>
                            <li>
                                <a href="#" title="">Everest Base Camp Trek</a>
                            </li>
                            <li>
                                <a href="#" title="">Kathmandu And Pokhara Tour</a>
                             </li>
                            <li>
                                <a href="#" title="">Manaslu Circuit Trek</a>
                            </li>
                        </ul>
                    </div>    
                </div>
                <div class="col-md-3">
                    <h2 class="footer-title">
                        Contact Us
                    </h2>
                    <div class="footer-menu-lists">
                        <ul>
                            <li>
                                <p>Phone : <a href="tel: +977 - 9746239349"> +977 - 9746239349</a></p>
                            </li>
                            <li>
                                <p>Email : <a href="mailto: info@aspirationasia.com"> info@aspirationasia.com</a></p>
                            </li>
                            <li>
                                <p>Office Time : 10:00 AM - 06:00 PM</p>
                             </li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="copyright mt-5">
                <div class="row justify-content-between">

                    <div class="col-md-3">
                        <p>&copy; 2023 Aspiration Asia. All right reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="bottom-footer-menu">
                            <ul class="d-flex justify-content-between">
                                <li>
                                    <a href="#" title="">TOURS</a>
                                </li>
                                <li>
                                    <a href="#" title="">EXPEDITIONS</a>
                                </li>
                                <li>
                                    <a href="#" title="">TREKS & MORE</a>
                                </li>
                                <li>
                                    <a href="#" title="">DESTINATIONS</a>
                                </li>
                                <li>
                                    <a href="#" title="">KAILASH MANSAROVAR</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}js/jquery.fancybox.js"></script>
<script src="{% static 'js/bootstrap.js' %}js/slick.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>